{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>Expenses</title>

       <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>

        <div class="section">
            <div class="container">
                <h2 class="center">Please add your expense information.</h2>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <form method="post">
                    {{ form|crispy }}
                    {% csrf_token %}
                    <button class="btn waves-effect"type='submit'>Submit</button>
                </form>
                <br>
            </div>
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>