{% extends 'base.html' %}

{% block title_block %} Expense Tracker {% endblock %}

{% block body_block %}

<div class="container my-auto ">
    <img class="img-fluid" src="../media/bg.png" alt="" style="width:100%; height: 100%;">
</div>
<br>
<div class="container">
    <p style="text-align:justify"><b>Welcome to Expense Tracker.</b></p>
    <p style="text-align:justify">Are you getting out of Budget? Many people in Bangladesh live on a fixed income, and
        they find that towards the end of the month they don't have sufficient money to meet their needs.
        <br><b>Expense Tracker</b> will help you to maintain your monthly budget by keeping an accurate
        record of your money inflow and outflow just in minutes.
    </p>
</div>

{% endblock %}
