{% extends 'base.html' %}
{% block title_block %} User Expense Info {% endblock %}
{% block body_block %}
<div class="container">
    <h2>User Expenses Info</h2>
</div>
<div class="container">
    <br>
    <p>User ID: {{ user.id }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Name: {{ user.get_full_name }}</p>
    <p>Date Joined: {{ user.date_joined }}</p>
    <p><b>Expenses: </p>

    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 5px;
            text-align: center;
        }

        th {
            text-align: center;
        }

        #t01 {
            width: 100%;
            background-color: #f1f1c1;
        }
    </style>

    <!-- Create Table -->
    <table style="width:100%" id="t01">
        <tr>
            <th>Expense Name</th>
            <th>Cost (BDT)</th>
            <th>Date</th>
        </tr>
        {% for datas in data %}
        <tr>
            <td>{{datas.expense_name}}</td>
            <td>{{datas.cost}}</td>
            <td>{{datas.date_added}}</td>
        </tr>
        {% endfor %}

    </table>
    <br>
    <a href="{% url 'AccountsApp:profile_view' %}"><button class="btn btn-dark btn-sm">Back to Profile</button></a>
</div>
<br>
{% endblock %}
